/* General Elements */

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.centered {
    text-align: center;
}

.centered p {
    font-size: 20px;
}

.container-fluid {
    padding: 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

/* Navbar Section */

.navbar {
    background-color: #BDBDBD;
    padding-bottom: 0;
    border-width: 1px;
    padding-top: 0px;
}

.navbar-brand {
    padding-left: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    max-width: 200px;
    max-height: 150px;
    min-width: 100px;
    min-height: 50px;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 75px;
    color: rgb(172, 149, 149);
}

.nav-item {
    margin: 0 15px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Noticia';
    font-weight: 400;
}

a.nav-link {
    font-size: 20px;
    font-family: 'Noticia';
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 25px;
    font-family: 'Agency FB', 'Noticia';
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e63946;
    font-size: 25px;
    font-family: 'Staatliches';
    font-weight: 400;
}

/* Hero Section */

.jumbotron {
    background-color: white;
    min-height: 625px;
    text-align: center;
    margin-top: 125px;
}

.jumbotron-header {
    font-family: 'Staatliches', cursive;
    font-size: 150px;
    margin-top: 100px;
    color: black;
}

.jumbotron-subheader {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    color: black;
}

.jumbotron-subheader:hover {
    color: #e76f51;
}

/* About Section */

.about-greeting {
    font-weight: 700;
    font-family: 'Staatliches';
    font-size: 45px;
    text-align: center;
}

.about-section {
    background-color: white;
    padding-bottom: 0px;
    padding: 100px;
    border: 2px;
    border-style: dashed;
}

.about-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    padding-left: 50px;
}

.about-image {
    border-radius: 100%;
    /* min-height: 70px;
    min-width: 70px; */
    padding-left: 10px;
    position: relative;
    top: 90px;
}

/* Project Section */

#Projects a {
    color: black !important;
}

#Projects a:hover {
    color: #e76f51 !important;
}

/* Projects Section */

.card-row {
    margin-top: 75px;
}

.card-bottom {
    padding-bottom: 125px;
}

.card {
    margin-left: 50px;
    margin-right: 50px;
}

.card-img-right {
    height: 10%;
    border-radius: 0 3px 3px 0;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.projects-header {
    text-align: center;
    font-size: 1000px;
    font-weight: 600px;
    font-family: 'Staatliches';
    margin: 100px 0px 100px;
}

.project-category-1 {
    color: #2a9d8f;
}

.project-category-2 {
    color: #FF7600 !important;
}

#Projects:hover a {
    color: #e76f51;
}

/* Contact Section */

.contact-header {
    font-family: "Staatliches";
    font-size: 75px;
    margin-bottom: 75px;
}

.contact-content {
    padding-top: 175px;
    padding-bottom: 135px;
    background-color: #EAECEE;
}

.contact-text {
    font-size: 4.5em;
    margin-bottom: 50px;
}


social-icon {
    color: black;
    padding: 10px;
    padding-left: 1000px;
    text-align: center;
}


span.social-icon {
    color: black;
    padding: 0 12px;
    font-size: 25px;
}

.g:hover {
    color: white !important;
}

.e:hover {
    color: white !important;
}

.t:hover {
    color: #55ADED;
}

.l:hover {
    color: #0270AD;
}

/* Media Queries */

@media (max-width: 430px) {
    .jumbotron-header{
        font-size: 100px;
    }
        
    
    .jumbotron-text {
        font-size: 110px;
    }

    .jumbotron-text-2 {
        font-size: 30px;
    }

    .about-text {
        font-size: 10px;
        padding: 0;
    }

    .about-image {
        border-radius: 100%;
        /* min-height: 70px;
        min-width: 70px; */
        padding: 0;
        position: relative;
        display: inline-block;
        left: 5px;
        top: -20px;
    }
}

@media (max-width: 1028px) {
    .about-image {
        position: relative;
        padding-left: 100px;
        padding-right: 100px;
        top: -50px;
        left: 30px;
    }
}
